---
---

$backgroundColor: #000000;
$bodyColor: #ffffff;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
/*           -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"*/

:root {
    --code-background-color: #1d2229;
    --secondary: #63c259;
    --secondary-dimmed: #46883f;
    --primary: #2fa7f7;
    --primary2: #2766bd;
    --primary3: #16345e;
    --primary0: #cceaff;
}

body {
    padding: 0;
    margin: 0;
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
    background-image: url("/assets/m-logo1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 112px 112px;
}

h1 {
    padding-bottom: 0.3em;
    margin: 1.5em 0 1em 0;
    font-weight: 300;
/*    border-bottom: 1px solid var(--primary3);*/
}

h1::after {
    content: "";
    display: block;
    border: 0px;
    height: 4px;
    background-image: url('/assets/hr.png');
    background-size: 100% 4px;
    margin: 0 -1em;
}

main > h1:first-of-type {
    text-align: center;
    font-size: 2.5em;
    font-weight: 200;
    margin: 1em 0;
}

main > h1:first-of-type::after {
    background-image: none;
}

/* This matches images and videos that are on their own line with no surrounding text. */
main p > img:only-child, 
main p > video:only-child {
    display: block;
    margin: 1.5em auto;
}

// Limit video width (they have a fullscreen button anyway)
main p > video:only-child {
    max-width: 600px;
}

/* This matches the enclosing p for the images and videos with no surrounding text. */
p:has(> img:only-child),
p:has(> video:only-child) {
    background: black;
    margin: 1em -1em;
    border: 1px solid #ffffff20;
    border-right: none;
    border-left: none;
    padding: 0 1em;
}

p {
    margin: 1em 0;
}

a {
    color: var(--primary);
    text-decoration: none;
    font-style: normal;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: var(--primary);
}

ul a:visited,
ol a:visited {
    color: var(--secondary);
}

main {
    padding: 1em;
    background-color: #0d1117;
    border-top: 1px solid #ffffff20;
    border-bottom: 1px solid #ffffff20;
    max-width: 900px;
}

main > ul,
main > ol {
    margin: 2em 0;
}
main > ul > li,
main > ol > li {
    margin: .5em;
}

main li {
/*    list-style: "➡️";*/
}

main li::marker {
    color: var(--primary);
}

hr {
    display: block;
    border: 0px;
    height: 4px;
    background-image: url('/assets/hr.png');
    background-size: 100% 4px;
}

p img {
    max-width: 100%
}

video {
    max-width: 100%
}

header {
    color: var(--secondary);
    padding: 2em 1em;
    padding-left: 100px;
}

footer {
    color: var(--secondary);
    padding: 2em 1em;
}

hr {
    margin: 2em 0;
}

code:not(pre code) {
    background: var(--code-background-color);
    padding: 1px 4px;
    font-weight: 400;
    border-radius: 3px;
}

pre {
    background: var(--codeblock-background-color);
    color: var(--codeblock-color);
}

pre code {
    background: var(--code-background-color);
    display: block;
    overflow-x: auto;
    padding: 1em;
    border-radius: .5em;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* GDScript code colors adapted from the default theme in Godot 4.2. */
code {
    font-family: "Source Code Pro", monospace;
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.75;

    .err {
        color: red;
    }
    /* .err is matching @ which is an export keyword */
    .k, .keyword, .ow {
        color: #ff7085;
    }
    /* keyword with @ in front = annotation */
    .annotation, .err, .err + .k, .err + .n {
        color: #ffb373;
    }
    .function, .nf {
        color: #66e6ff;
    }
    .comment, .c1 {
/*        color: #cdcfd2;*/
        color: #63c259; /* default grey is really too subtle */
        font-weight: bold;
    }
    .string {
        color: #ffeda1;
    }
    .number, .mf, .mi {
        color: #a1fff0;
    }
    .nb {
        color: #a3a3f5;
    }
    .parens, .p {
        color: #66e6ff;
    }
}
