<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <script data-goatcounter="https://m8y.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HL5M36EDHY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HL5M36EDHY');
  </script>
</head>

<body>

  <header>
    <nav>
      <a href="/">{{ site.title }}</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>

  </footer>
</body>

</html>
